In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\HP\Downloads\Sales_add.csv")

In [16]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [17]:
df.shape

(22, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

1. To check whether there is any increase in sales after
stepping into digital marketing , perform two sample T test

Ho: There is no increase in sales after stepping into digital marketing.

H1: The sales has increased after stepping into digital marketing.

In [6]:
from scipy.stats import ttest_ind

In [7]:
t_stat,p_val= ttest_ind(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])

In [8]:
p_val

2.614368006904645e-16

In [9]:
if p_val<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Reject Null Hypothesis

Hence there is an increase in sales after stepping into digital marketing.

2.To check whether there is any dependency between
the features “Region” and “Manager”, perform Chisquare test of independence

Ho: There is no dependency between the features “Region” and “Manager”.

H1: There is dependency between the features “Region” and “Manager”.

In [10]:
from scipy.stats import chi2_contingency

In [11]:
contingencyTable = pd.crosstab(df['Region'],df['Manager'])

In [12]:
contingencyTable

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [13]:
chi2_contingency(contingencyTable)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [14]:
chi2,p_value, dof, exp_values = chi2_contingency(contingencyTable)

In [15]:
if p_value <0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted

Hence there is no dependency between the features “Region” and “Manager”.